
.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #3535e3;
    color: #fff;
    margin-bottom: 30px;
    width: 1400px;
    padding: 20px;
}

li {
    list-style: none;
}
.link {
    text-decoration: none;
    color: #fff;
}

.logo {
    text-decoration: none;
    color: #fff;
}


